#root
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#toolbar
{
    height: 0.01px;
}

#toolbar td
{
    position: relative;
}

#toolbar td button
{
    box-sizing: content-box;
    height: 100%;
}

#canvas_container
{
    position: relative;
    overflow: scroll;
}

#canvas_container2
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
}

#canvas
{
    position: relative;
    min-width: 100%;
    min-height: 100%;
    background: grey;
}

.element
{
    position: absolute;
    padding: 4px;
    background: white;
    border: 1px solid black;
}

.dot
{
    position: absolute;
    width: 6px;
    height: 6px;
    border: 1px solid black;
    border-radius: 4px;
    transform: translate(-4px, -4px);
}

.line
{
    position: absolute;
    padding: 0;
    transform-origin: top left;
    border-spacing: 0;
}

.line tr
{
    transform: translateY(-2px);
}

.line th
{
    height: 2px;
    padding: 0px;
    border-bottom: 1px solid black;
}

.linebegend
{
    width: 4px;
    pointer-events: none;
}

.line td
{
    height: 2px;
    padding: 0px;
}

.formula td
{
    text-align: center;
}

.formula, .formula table
{
    border-spacing: 0;
    display: inline-block;
    vertical-align: middle;
}

.justdot
{
    width: 15px;
    height: 15px;
    border-radius: 100%;
}
